.match {
    background-image: url('https://user-images.githubusercontent.com/62581000/94751369-6c102400-0356-11eb-81f0-d92e4ddfbd71.png');
    background-repeat: no-repeat;
}

.register {
    background-image: url('https://user-images.githubusercontent.com/62581000/94752695-f443f880-0359-11eb-9ddc-a8bd934e84f9.png');
    background-repeat: no-repeat;
}