
 .scrollable{
   overflow: auto;
   width: 70px; /* adjust this width depending to amount of text to display */
   height: 80px; /* adjust height depending on number of options to display */
   border: 1px silver solid;
 }
 .scrollable select{
   border: none;
 }

.voter {
  background: #4BBCC6;
  height: 100vh;
}

h1 {
  color: white;
  font-family: 'bebas neue';
  text-align: center;
}