
 .scrollable{
   overflow: auto;
   width: 70px; /* adjust this width depending to amount of text to display */
   height: 80px; /* adjust height depending on number of options to display */
   border: 1px silver solid;
 }
 .scrollable select{
   border: none;
 }

.voter {
  background: #4BBCC6;
  height: 100vh;
}

.reg-header {
  color: white;
  font-family: 'bebas neue';
  text-align: center;
  padding-top: 60px;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.state-select {
  text-align: center;
  padding: 5px;
}

#dropdown-basic-button {
  width: 80%;
  display: flex;
  margin-left: 42px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  color: gray;
  
}

.dropdown-menu {
  width: 318px;
  color: lightgray;
}

.reg-img {
  position: absolute;
  bottom: -57px;
  left: -40px;
}